.text-orange {
  color: orange
}
.bg-orange {
  background: orange;
}
.text-salmon {
  color: rgb(223, 87, 72);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
